<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
        {{ title }}
        {% else %}
        Blog
        {% endif %}
    </title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Головна</a></li>
            <li><a href="{{ url_for('register') }}">Реєстрація</a></li>
            <li><a href=""></a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>